<p>
  <b>Name:</b>
  <%=h @tester.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @tester.description %>
</p>

<p>
  <b>Code:</b>
  <%=h @tester.code %>
</p>

<p>
  <b>Project:</b>
  <%=h @tester.project_id %>
</p>

<p>
  <b>Active flag:</b>
  <%=h @tester.active_flag %>
</p>


<%= link_to 'Edit', edit_tester_path(@tester) %> |
<%= link_to 'Back', testers_path %>
