<table class="long data" border="1">
	<tr>
		<th>Path</th>
		<th>Response</th>
		<th>User</th>
		<th>Time</th>
		<th>Page Size</th>
		<th>Changed Memory (Kb)</th>
		<th>Total Memory (Kb)</th>
	</tr>

<% @exercise.samples.rev.each do |sample| %>
	<tr class="<%= sample.passed ? 'pass' : 'fail' %>">
		<td><%= sample.page_uri %></td>
		<td><%= sample.response %></td>
		<td><%= sample.user %></td>
		<td class="<%= sample.time < 1 ? 'good' : 'bad' rescue nil %>"><%= sample.time %></td>
		<td align="right"><%= sample.page_size %></td>
		<td align="right" class="<%= sample.changed_memory < 500 ? 'good' : 'bad' rescue nil %>"><%= sample.changed_memory %></td>
		<td align="right" class="<%= sample.total_memory   < 500 ? 'good' : 'bad' rescue nil %>"><%= sample.total_memory   %></td>
	</tr>
<% end %>
</table>

<br/><br/>
<small><%= Time.now %></small>

