<h1>Editing host</h1>

<% form_for(@host) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :hostname %><br />
    <%= f.text_field :hostname %>
  </p>
  <p>
    <%= f.label :url %><br />
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.label :url_username %><br />
    <%= f.text_field :url_username %>
  </p>
  <p>
    <%= f.label :url_password %><br />
    <%= f.text_field :url_password %>
  </p>
  <p>
    <%= f.label :ssh_username %><br />
    <%= f.text_field :ssh_username %>
  </p>
  <p>
    <%= f.label :ssh_password %><br />
    <%= f.text_field :ssh_password %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @host %> |
<%= link_to 'Back', hosts_path %>
