<h1>Listing Hosts</h1>

<table>
  <tr>
    <th>Hostname</th>
    <th>URL</th>
    <th>Role</th>
  </tr>

<% for host in @hosts %>
  <tr>
    <td><%=h host.hostname %></td>
    <td><%=h host.url %></td>
    <td><%=h host.role.role rescue nil %></td>

    <td><%= link_to 'Show', host %></td>
    <td><%= link_to 'Edit', edit_host_path(host) %></td>
    <td><%= link_to 'Destroy', host, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New host', new_host_path %>
