<h1>Hosts</h1>

<table class="long data">
  <tr>
    <th>Hostname</th>
    <th>URL</th>
    <th>Role</th>
    <th>Performance Runs</th>
    <th>Memory Runs</th>
  </tr>

<% for host in @hosts %>
  <tr>
    <td><%= link_to host.hostname, host %></td>
    <td><%=h host.url %></td>
    <td><%=h host.role.role rescue nil %></td>
    <td><%=h host.exercises.count(:conditions => {:exercise_type => Exercise::EXERCISE_TYPES[0]}) %></td>
    <td><%=h host.exercises.count(:conditions => {:exercise_type => Exercise::EXERCISE_TYPES[1]}) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New host', new_host_path %>
