<% content_for :header, javascript_include_tag("hosts") << javascript_include_tag("prototype")  %>

<h1><%=h @host.hostname %> (<%= @host.role.role %>)</h1>
<h2><%=h @host.url %></h2>
<br/>

<table class="long">
	<tr><td width="30%" valign="top">
		
		<table class="data">
		  <tr>
				<th>URL User</th>
				<td><%=h @host.url_username %></td>
			</tr>
		  <tr>
				<th>URL Pass</th>
				<td><%=h @host.url_password %></td>
			</tr>
		  <tr>
				<th>SSH User</th>
				<td><%=h @host.ssh_username %></td>
			</tr>
		  <tr>
				<th>SSH Pass</th>
				<td><%=h @host.ssh_password %></td>
			</tr>
		</table>
	</td><td width="70%" valign="top">
		
		<div class="options">
 		  <%= button_to_function "Run Performance Test...", 
 		        "GroundControl.Hosts.exercise_performance('#{exercise_performance_path(:id => @host.id)}', 'aut_version', 'aut_note')" %>
		</div>
		<h2 class="title">Performance Tests</h2>
		
		<table class="long data">
			<tr>
				<th>Num</th>
				<th>Type</th>
				<th>When</th>
				<th>Samples</th>
				<th>Time</th>
				<th colspan="2">Pass Rate</th>
			</tr>
		<% @host.exercises.recent.each do |ex| %>
			<tr>
				<td>
					<%= link_to 'Stats', :action => 'show_stats', :id => ex.id %>
					<%= link_to "Test #{ex.id}", :action => 'show_exercise', :id => ex.id %>
				</td>
				<td><%= display_short_exercise_type(ex) %></td>
				<td><small><%= time_ago_in_words(ex.created_at) %> ago</small></td>
				<td><%= ex.sample_size %></td>
				<td><%= number_with_precision ex.avg_time, 2 rescue nil %></td>
				<td><%= ex.pass_fraction %></td>
				<td><%= ex.pass_percent %></td>
			</tr>
		<% end %>
		</table>
		
		<br/>
		
		<div class="options">[run tests]</div>
		<h2 class="title">Functional Tests</h3>
			
		(no tests)
		
	</td></tr>
</table>

<br/>

<%= link_to 'Back', hosts_path %> |
<%= link_to 'Edit', edit_host_path(@host) %> |
<%= link_to 'Destroy', @host, :confirm => 'Are you sure?', :method => :delete %>
