  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :host_ids %><br />
    <%= f.select(:host_ids, @hosts.map{|h| [h.hostname, h.id]}, {}, {:multiple => true}) %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
