<h1>Listing stacks</h1>

<table class="data long">
  <tr>
    <th>Name</th>
    <th>Hosts</th>
    <th>Actions</th>
  </tr>

<% for stack in @stacks %>
  <tr>
    <td>
      <%= stack.name %>
    </td>
    <td>
      <%= display_hosts(stack) %>
    </td>
    <td>
      <%= link_to 'Show', stack %>
      <%= link_to 'Edit', edit_stack_path(stack) %>
      <%= link_to 'Destroy', stack, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New stack', new_stack_path %>
