<div>Name:</div>
<div><%= @stack.name %></div>
<%= spacer 10 %>

<div>Hosts:</div>
<div id="show_stack_hosts"><%= display_hosts(@stack) %></div>
<%= spacer 10 %>

<%= spacer %>

<%= link_to 'Edit', edit_stack_path(@stack) %> |
<%= link_to 'Back', stacks_path %>
