<p>
  <b>Name:</b>
  <%=h @library.name %>
</p>

<p>
  <b>Code:</b>
  <%=h @library.code %>
</p>

<p>
  <b>Project:</b>
  <%=h @library.project_id %>
</p>


<%= link_to 'Edit', edit_library_path(@library) %> |
<%= link_to 'Back', libraries_path %>
