<h1>Editing result</h1>

<%= error_messages_for :result %>

<% form_for(@result) do |f| %>
  <p>
    <b>Project</b><br />
    <%= f.text_field :project_id %>
  </p>

  <p>
    <b>Integration code</b><br />
    <%= f.text_field :integration_code %>
  </p>

  <p>
    <b>Speed code</b><br />
    <%= f.text_field :speed_code %>
  </p>

  <p>
    <b>Results</b><br />
    <%= f.text_area :results %>
  </p>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @result %> |
<%= link_to 'Back', results_path %>
