  <p>
    <label>URI Pattern:</label><br/>
    <%= f.text_field :uri_pattern %>
  </p>
  <p>
    <label>Assertions:</label><br/>
    <%= f.text_field :assertions %>
  </p>
  <p>
    <label>Variables:</label><br/>
    <%= f.text_field :variables %>
  </p>
  <p>
    <label>Section:</label><br/>
    <%= f.text_field :section %>
  </p>
  <p>
    <label>POST data:</label><br/>
    <%= f.text_field :post_data %>
  </p>