<h1>New page</h1>

<% form_for(@page) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :section %><br />
    <%= f.text_field :section %>
  </p>
  <p>
    <%= f.label :path %><br />
    <%= f.text_field :path %>
  </p>
  <p>
    <%= f.label :assertions %><br />
    <%= f.text_field :assertions %>
  </p>
  <p>
    <%= f.label :variables %><br />
    <%= f.text_field :variables %>
  </p>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', pages_path %>
