<p>
  <b>String:</b>
  <%=h @page.string %>
</p>

<p>
  <b>String:</b>
  <%=h @page.string %>
</p>

<p>
  <b>String:</b>
  <%=h @page.string %>
</p>

<p>
  <b>String:</b>
  <%=h @page.string %>
</p>

<p>
  <b>Integer:</b>
  <%=h @page.integer %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
