<p>
  <b>Path:</b>
  <%=h @page.path %>
</p>

<p>
  <b>Section:</b>
  <%=h @page.section %>
</p>

<p>
  <b>Assertions:</b>
  <%=h @page.assertions %>
</p>

<p>
  <b>Variables:</b>
  <%=h @page.variables %>
</p>

<p>
  <b>Role:</b>
  <%=h @page.role.role rescue nil %>
</p>


<%= link_to 'Edit', edit_page_path(@page) %> |
<%= link_to 'Back', pages_path %>
