<h1><%=h @role.role %></h1>

<br/>

<table class="long">
	<tr><td width="50%" valign="top">
		
		<h2 class="title">Hosts</h2>
		
		<% @role.hosts.each do |host| %>
			<%= link_to host.hostname, host %><br/>
		<% end %>

	</td><td width="50%" valign="top">
		<h2 class="title">Pages</h2>

		<% @role.pages.each do |page| %>
			<%= link_to page.path, page_url(page) %><br/>
		<% end %>
		
	</td></tr>
</table>



<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'List', roles_path %>
