<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
 "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <%# settings for stylesheet_link_tag and javascript_include_tag in environment.rb %>
  <%= stylesheet_link_tag    :ground_control_css_base %>
  <%= yield :header %>
  <%= javascript_include_tag :ground_control_js_base  %>
  <title>GroundControl - Reactrix Testing</title>
</head>
<body>
  <div id="doc" class="yui-t7">
    <div id="hd">
      <div class="header">
      
        <div class="yui-g">      
          <h1>GroundControl - Reactrix Automated Testing System</h1>
    	  </div>
  	  
        <div class="appbar <%= @page %>">
          <ul>
            <li id="dashboard"><a href="/">Dashboard</a></li>
            <li id="roles"><a href="/roles">Roles</a></li>
            <li id="hosts"><a href="/hosts">Hosts</a></li>
          </ul>
    	  </div>  	
  	    
  	  </div>
    </div>
    <div id="bd">
      <div class="main">
        <% if flash[:error]  %><div class="error" ><%= flash[:error] .to_s %></div><% end %>
        <% if flash[:notice] %><div class="notice"><%= flash[:notice].to_s %></div><% end %>
  	    <%= yield %>
  	  </div>
    </div>
    <div id="ft">Reactrix Testing Systems</div>
    <div>[MM: 37824.0 CH:3876.0 TM:1.380838]</div>
  </div>
</body>
</html>
