<p>
  <b>Results data:</b>
  <%=h @tester_run.results_data %>
</p>

<p>
  <b>Tester:</b>
  <%=h @tester_run.tester_id %>
</p>

<p>
  <b>Results:</b>
  <%=h @tester_run.results_id %>
</p>


<%= link_to 'Edit', edit_tester_run_path(@tester_run) %> |
<%= link_to 'Back', tester_runs_path %>
